[Unit]
Description=Vault service
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/vault server -config=/etc/vault/config.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=always
RestartSec=30
StartLimitInterval=0
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
